body {
    background-color: rgb(255, 174, 119);
    margin: 30px 100px;
}

h1 {
    text-align: center;
    color: rgb(151, 15, 15);
}

p {
    text-align: center;
    margin: 20px
}

.picture {
    display: block;
    margin: auto;
    width: 400px;
}

.connection-links {
    text-align: center;
}

.connection-links a {
    margin: 0 15px;
    color: rgb(151, 15, 15);
}

.contact-details {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.email-address {
    text-decoration: none;
    color: black;
}